/* Dark Mode Styles */

body {
    transition: background-color 0.3s ease;
}

body.purple-theme {
    background-color: hsl(261, 100%, 76%); /* 보라 테마 배경색 */
}

body.pink-theme {
    background-color: #ffc0cb; /* 핑크 테마 배경색 */
}

aside.aside-container {
    padding: 20px;
    border: 1px solid #ccc; /* 회색 테두리 */
    border-radius: 10px; /* 둥근 모서리 */
    background-color: #edecff; /* 기본 배경색 */
    color: black; /* 기본 글자색 */
    transition: background-color 0.3s ease;
}

aside.aside-container h5 {
    color: black; /* "테마 선택" 글자 색상 */
}

aside.aside-container a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

aside.aside-container a:hover {
    background-color: rgba(255, 0, 220, 0.2); /* 핑크 테마 */
    color: hsl(261, 100%, 76%); /* 보라 테마 */
}

aside.aside-container button {
    margin-bottom: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

aside.aside-container button#light-mode-button {
    background-color: #ffc0cb; /* 핑크 테마 버튼 색상 */
}

aside.aside-container button#dark-mode-button {
    background-color: hsl(261, 100%, 76%); /* 보라 테마 버튼 색상 */
}
